<div>

  <div id="upperHeaderArea">
    <!-- <%= image_tag("ricefarm.jpg", class: "header") %> -->
    <%= image_tag("riceLogo.jpg", id: "upperHeaderLogo") %>
    <p id="riceHouseSign">RiceHouse</p>
  </div>

  <nav id="lowerHeaderArea" class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="navbarItem"><a href="/home">Home</a></li>
        <li class="navbarItem"><a href="/products">Products</a></li>
        <li class="navbarItem"><a href="/about_us">About Us</a></li>
        <li class="navbarItem"><a href="/contact_us">Contact Us</a></li>
      </ul>
    </div>
  </nav>

</div>
