<div class="row">

  <div id="upperHeaderArea">
    <!-- <%= image_tag("ricefarm.jpg", class: "header") %> -->
    <%= image_tag("riceLogo.jpg", id: "upperHeaderLogo") %>
    <p id="riceHouseSign">RiceHouse</p>
  </div>

  <nav id="lowerHeaderArea" class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="navbarItem"><a href="#">Home</a></li>
        <li class="navbarItem"><a href="#">Products</a></li>
        <li class="navbarItem"><a href="#">About Us</a></li>
        <li class="navbarItem"><a href="#">Contact Us</a></li>
      </ul>
    </div>
  </nav>

</div>
