<div id="about_us_body">
  <%= image_tag("bakedrice.jpg", id: "about_us_image") %>
  <h1>Who We Are</h1>
  <p>Founded on mid 2018, we have come up with loads of great ideas to revolutionize rice industry.<br>
    We are focused at delivering diffrent vareities of high quality natural and pure rice to people.<br>
    We have great passion and enthusiasm.
  </p>
</div>
