<div id="contact_us_body">
  <h1>Ways You Can Contct Us:</h1>
  <ul>
    <li>Telephone: xxx</li>
    <li>Eamil: xxx</li>
    <li>Address: currently we are based in London, as images shows.</li>
  </ul>
  <%= image_tag("londonMap.png", id: "contact_us_image") %>
</div>
