<div class="homeBody">

  <div id="varietyOfRice">
    <p class="textWithBackgroundImage">You can taste the variety ...</p>
  </div>

  <div id="falvourOfRice" >
    <p id="textWithoutBackgroundImage"> and originial falvour of local rice ...</p>
  </div>

  <div id="experiencedFarmers">
    <p class="textWithBackgroundImage">produced by experienced farmers ...</p>
  </div>

</div>
