<html>
  <header></header>
  <body id="body">
    <div class="row">
      <div id="upperHeaderArea">
        <!-- <%= image_tag("ricefarm.jpg", class: "header") %> -->
        <%= image_tag("riceLogo.jpg", id: "upperHeaderLogo") %>
        <p id="riceHouseSign">RiceHouse</p>
      </div>
      <div id="lowerHeaderArea">

      </div>
    </div>
  </body>
</html>
