// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin divResponsiveWidth {
  width: 1000px;
  @media (max-width: 992px) {
    width: 700px;
  }
}

.homeBody {
  background-color: WHITE;
  margin: auto;
  margin-bottom: 20px;
  @include divResponsiveWidth;
}

@mixin authenticationForms {
  width: 225px;
  border-radius: 5%;
  text-align: center;
  color: #3E882A;
  background-color: WHITE;
  margin: auto;
  padding-top: 6px;
  margin-bottom: 20px;
}

#userChangePasswordBody {
  @include authenticationForms;
  height: 530px;
  width: 250px;
}

#userSignUpBody {
  @include authenticationForms;
  height: 285px;
}

#userSignInBody {
  @include authenticationForms;
  height: 300px;
}

#home_body {
  @extend .homeBody;
  height: 900px;
}

@mixin stationaryImage {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  @include divResponsiveWidth;
  height: 350px;
}

#varietyOfRice {
  @include stationaryImage;
  background-image: url('ricetypes.jpg');
}

#falvourOfRice {
  background-color: #AAFF94;
  @include divResponsiveWidth;
  height: 200px;
}

#experiencedFarmers {
  @include stationaryImage;
  background-image: url('ricefarmer.jpg');
}

#textWithoutBackgroundImage {
  font-size: 40px;
  font-family: Proxima Nova Soft, Helvetica Neue, sans-serif;
  color: #FFFFFF;
  margin-top: 70px;
  margin-left: 25px;
  display: inline-block;
}

.textWithBackgroundImage {
  font-size: 40px;
  font-family: Proxima Nova Soft, Helvetica Neue, sans-serif;
  color: #AAFF94;
  margin-left: 25px;
  margin-top: 145px;
  display: inline-block;
}

#contact_us_body {
  @extend .homeBody;
  height: 500px;
}

#about_us_body {
  @extend .homeBody;
  height: 550px;
}

#contact_us_image {
  height: 381px;
  width: inherit;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

#about_us_image {
  height: 400px;
  width: inherit;
}

#sign_up_page {
  @extend .homeBody;
  height: 400px;
}
